html { 
  background: url("../Bilder/azir.gif")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Verdana;
  font-size: 12px;
}

body {

}

li {
  float: left;
  list-style-type: none;
}



li.navbar {
  float: left;
  list-style-type: none;
}

li a {
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  width: 300px;
  height: 30px;
  position: relative;
  left: 80px;
  background-color: #111;
  font-size: 25px;
  color: white;
  text-align: center;
  top: 15px;
  z-index: 10;
}

li a:hover {
  text-decoration: underline;
}

.logo {
    position: absolute;
    background-color: #111;
    left: 13px;
    top: 11px;
    width: 100px;
    height: 100px;
	z-index: 10;
}

img {
}

h1 {
    color: white;
	font-weight: 100;
	text-align: center;
}

h2 {
    color: white;
	font-size: 50px;
	left: 20px;
	font-weight: 100;
}

h3 {
    color: white;
	font-weight: 100;
	position: relative;
	float: left;
	margin-right: 50px;
}

h5 {
    color: white;
}

div {
	background-color: #111;
	height: 130px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9;
}
.a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  padding: 3px;
  margin-right: 100px;
}

.block { 
	width: auto; 
	height: auto;
    margin: 300px 20px;
	padding: 20px; 
	background-color: #111; 
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black;
	position: relative;
}

