html { 
  background: url("../Bilder/yas.gif")no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Verdana;
  font-size: 12px;
}

body {
}


li {
  float: left;
  list-style-type: none;
}

li a {
  text-decoration: none;
  display: block;
  padding: 14px 16px;
  width: 300px;
  height: 30px;
  position: relative;
  left: 80px;
  background-color: #111;
  font-size: 25px;
  color: white;
  text-align: center;
  top: 15px;
  z-index: 10;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  text-decoration: underline;
}

.logo {
    position: absolute;
    background-color: #111;
    left: 13px;
    top: 11px;
    width: 100px;
    height: 100px;
	z-index: 10;
}

h1 {
    color: white;
	text-align: center;
	font-weight: 100;
}

h3 {
    color: white;
	text-align: center;
	font-weight: 100;
}

h5 {
    color: white;
}

div {
	background-color: #111;
	height: 130px;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 9;
}

.block { 
	width: auto; 
	height: auto;
	margin: 300px 300px; 
	padding: 20px; 
	background-color: #111; 
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black;
	position: relative;
}

.navbaranim {
  animation-name:navbar;
  animation-duration:2s;
  animation-iteration-count:1;
}

@keyframes navbar {
  0%{ left: -100000px; }
  100%{left 5px;}
}