html
{margin: 0; padding: 0; width: 100%;}
body
{margin: 0; padding: 0; width: 100%; text-align: center; background: url(BG.png) no-repeat 50% 50%; background-size: cover; height: 100vh; display: table;}

.wrapper {
	position: absolute;
	top: 55%;
	left: 25%;
	transform: translate(-50%, -75%);
	width: 30%;
}

path {stroke: #fff; fill: #fff; stroke-dasharray: 1200; opacity: 1; animation: animate 1s cubic-bezier(.3,.19,.84,.5);}

@keyframes animate {
	0% {
	opacity: 1;
    fill: none;
	stroke-dashoffset: 1200;
	}
	30% {
	opacity: 1;
    fill: none;
	stroke-dashoffset: 1200;
	}
	90% {
	fill: rgba(255,255,255,0);
	}
	100% {
	opacity: 1;
	stroke-dashoffset: 0;
	}
	
}